body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#0f172a
);
min-height:100vh;
color:white;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 25px;
margin-bottom:25px;
background:#111827;
border-radius:18px;
box-shadow:0 10px 20px rgba(0,0,0,.25);
flex-wrap:wrap;
gap:15px;
}

.brand{
display:flex;
align-items:center;
gap:12px;
font-size:28px;
font-weight:700;
}

.brand small{
display:block;
font-size:12px;
font-weight:400;
color:#94a3b8;
}

.card-icon{
font-size:35px;
margin-bottom:15px;
color:#38bdf8;
}

.card{
background:#1e293b;
padding:25px;
border-radius:18px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,.3);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.top-right{
display:flex;
align-items:center;
gap:15px;
flex-wrap:wrap;
}

.clock{
background:#1e293b;
padding:10px 18px;
border-radius:12px;
font-weight:bold;
font-size:18px;
min-width:110px;
text-align:center;
}

.esp-status{
background:#1e293b;
padding:10px 18px;
border-radius:12px;
font-weight:bold;
font-size:15px;
}

.esp-online{
color:#22c55e;
}

.esp-offline{
color:#ef4444;
}

.wifi-icon{
width:48px;
height:48px;
border-radius:50%;
background:#1e293b;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
transition:.3s;
}

.wifi-online{
color:#22c55e;
box-shadow:0 0 15px #22c55e;
}

.wifi-offline{
color:#ef4444;
box-shadow:0 0 15px #ef4444;
}

.container{
max-width:1100px;
margin:auto;
padding:25px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card p{
font-size:28px;
font-weight:bold;
}

.notif{
padding:15px;
border-radius:15px;
text-align:center;
margin-bottom:20px;
font-weight:bold;
}

.aman{background:#14532d;}
.warning{background:#78350f;}
.bahaya{background:#7f1d1d;}

.control{
  margin-top:25px;
  text-align:center;
}

.control-buttons{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-top:20px;
}

.start-stop-group{
  display:flex;
  gap:12px;
}

.start-stop-group button{
  flex:1;
}

.control-buttons button{
  padding:12px;
  border:none;
  border-radius:12px;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
  transition:0.25s;
}

.control-buttons button:hover{
  transform:translateY(-2px);
  opacity:.9;
}

.btn-start{
  background:#22c55e;
  color:white;
}

.btn-stop{
  background:#ef4444;
  color:white;
}

.btn-alarm{
  background:#f59e0b;
  color:white;
}

.control-buttons button i{
  margin-right:8px;
}

#buzzerStatus{
  margin-top:15px;
  font-weight:bold;
}

.popup{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,.65);
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}

.popup-box{
background:#1e293b;
padding:30px;
border-radius:18px;
text-align:center;
width:320px;
}

.popup-box h2{
margin-bottom:20px;
}

.hidden{
display:none;
}